<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Detail Product</title>
</head>

<body class="bg-gray-100 text-gray-800 font-sans">
  <div class="max-w-lg mx-auto py-12 px-6">
    <h1 class="text-4xl font-bold mb-6 text-center text-gray-900">
      <%= product.name %>
    </h1>

    <ul class="bg-white p-6 rounded-lg shadow-lg mb-6">
      <li class="mb-2">
        <span class="font-semibold text-gray-700">Brand:</span>
        <%= product.brand %>
      </li>
      <li class="mb-2">
        <span class="font-semibold text-gray-700">Warna:</span>
        <%= product.color %>
      </li>
      <li class="mb-2">
        <span class="font-semibold text-gray-700">Harga:</span>
        <%= product.price %>
      </li>
      <li class="mb-2">
        <span class="font-semibold text-gray-700">Kategori:</span>
        <a href="/products?category=<%= product.category %>"
          class="text-blue-500 hover:underline transition duration-300 ease-in-out">
          <%= product.category %>
        </a>
      </li>
      <span class="font-semibold text-gray-700">Garment:</span>
      <a href="/garments/<%= product.garment.id %>" class="text-blue-500 hover:underline ">
        <%= product.garment.name %>
      </a>
    </ul>






    <div class="flex justify-between items-center mb-6 space-x-4">
      <a href="/products"
        class="text-blue-500 font-semibold px-6 py-2 rounded-lg transition-transform duration-300 ease-in-out transform hover:translate-x-3  hover:shadow-lg">
        All Products
      </a>

      <a href="/products/<%= product._id %>/edit"
        class="text-green-500 font-semibold px-6 py-2 rounded-lg transition-transform duration-300 ease-in-out transform hover:-translate-x-3  hover:shadow-lg">
        Edit
      </a>
    </div>

    <form action="/products/<%= product._id %>?_method=DELETE" method="post" class="text-center">
      <button type="submit" class="cursor-pointer transition-all bg-red-500 text-white px-6 py-2 rounded-lg
border-red-600
border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">
        Delete
      </button>
    </form>
  </div>
</body>

</html>